postgres/

# Node modules
node_modules/

# Environment variables
keys/
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/migrations/
prisma/generated/

# Typescript
dist/
*.tsbuildinfo

# Test coverage
coverage/

# IDE and editor files
.vscode/
.idea/

# Build artifacts
build/
*.build

# Miscellaneous
tmp/
temp/